@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,352;1,352&display=swap');

/* profile-page.html */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.4s ease-in forwards;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #141414;
    color: #fff;
    user-select: none;
    cursor: default;
    line-height: 1.2;
}

.centered-container {
    position: fixed;
    align-items: center;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 100;
    text-align: center;
}

.homebar {
    font-size: clamp(30px, 3.5vw, 3.5vw);
    width: 100%;
    font-weight: bold;
}

.profile-select {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    list-style-type: none;
}

@media (max-width: 768px) {
    .profile-select {
        align-items: center;
    }

    .profile {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .profile-select {
        align-items: center;
    }

    .profile {
        margin-bottom: 15px;
    }

    .profile-icon {
        width: 60px;
        height: 60px;
    }

    .profile-name {
        font-size: 0.9rem;
    }
}

.profile:hover{
    .profile-icon{
        border: 2px solid white;
    }
    .profile-name{
        color: white;
    }
}

.profile-link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.profile-icon {
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #141414;
    border-radius: 4px;
    box-sizing: border-box;
    height: 10vw;
    max-width: 200px;
    max-height: 200px;
    min-height: 84px;
    min-width: 84px;
    position: relative;
    width: 10vw;
}

.profile-name {
    color: grey;
    display: block;
    text-align: center;
    font-size: 1.3vw;
    line-height: 1.2em;
    margin: 0.6em 0;
    min-height: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.exit-button {
    background-color: #141414;
    border: 1px solid grey;
    color: grey;
    display: block;
    font-size: clamp(13px, 1.2vw, 1.2vw);
    letter-spacing: 2px;
    margin: 2em 0 1em;
    padding: 0.5em 1.5em;
    cursor: pointer;
    text-decoration: none;
}

.exit-button:hover{
    border: 1px solid white;
    color: white;
}